resources:
  - name: xpn-service-project
    type: compute.beta.xpnResource
    properties:
      project: {{ properties["host-project-id"] }}
      xpnResource:
        id: {{ properties["project-id"] }}
        type: PROJECT